body {
    margin: 0;
    padding: 0;
    background-color: #d195ff;
}

#container-outer {
    width: 100%;
    /*height: 1vh;*/
}

.container-item {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}

.box-outer {
    width: 194px;
    height: 194px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    position: relative;
    animation-duration: 4s;
    animation-name: repeat;
}

@keyframes repeat {
    0% {
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}


.box-cross::before {
    content: 'X';
    font-size: 140px;
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 78px);
    animation-duration: 1s;
    animation-name: ascent;
}

.box-null::before {
    content: 'O';
    font-size: 140px;
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 78px);
    animation-duration: 1s;
    animation-name: ascent;
}

@keyframes ascent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.info-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 154px);
    border: 2px solid #a648ff;
    background-color: white;
    width: 260px;
    height: 140px;
    padding: 0 24px;
    text-align: center;
    font-size: 1.5em;
}

.player-choice, .repeat {
    padding: 7px 35px;
    font-family: serif;
    margin: 0 10px;
    background-color: #a648ff;
    border: 2px solid #a648ff;
    border-radius: 15px;
    color: #FFFFFF;
}

.player-choice:hover {
    transition: 1s;
    transform: rotate(180deg);
    background-color: #FFFFFF;
    cursor: pointer;
    color: #a648ff;
}

.repeat {
    display: none;
    padding: 7px 20px;
    position: relative;
}

.repeat:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #a648ff;
    transition: all 1s;
}

.vertical-line::after {
    content: '';
    width: 4px;
    position: absolute;
    top: -20px;
    bottom: -16px;
    background-color: #a648ff;
    left: 50%;
}

.horizontal-line::after {
    content: '';
    height: 4px;
    position: absolute;
    left: -20px;
    right: -16px;
    background-color: #a648ff;
    top: 50%;
}

.tilt-up::after {
    content: '';
    width: 4px;
    position: absolute;
    top: -45px;
    bottom: -46px;
    left: 50%;
    background-color: #a648ff;
    transform: rotate(45.3deg);
}

.tilt-down::after {
    content: '';
    width: 4px;
    position: absolute;
    top: -45px;
    bottom: -46px;
    left: 50%;
    background-color: #a648ff;
    transform: rotate(-45.3deg);
}

.vertical-line::after, .horizontal-line::after, .tilt-up::after, .tilt-down::after {
    animation-duration: 1000ms;
    animation-name: line;
}

@keyframes line {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.before-blackout{
    display: none;
}

.blackout{
    width: 600px;
    height: 596px;
    border-radius: 30px;
    background-color: rgba(169, 169, 169, 0.5);
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    display: block;
    opacity: 0;
    animation-duration: 2100ms;
    animation-name: thinking;
}

.blackout::after{
    content: 'Думаю..';
    color: #a648ff;
    font-size: 2.5rem;
    position: relative;
    top: 34%;
    left: calc(50% - 68px);
}

@keyframes thinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}





