body {
    margin: 0;
    padding: 0;
    background-color: #d195ff;
}

#container-outer {
    width: 100%;
    height: 1vh;
}

.container-item {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
}

.box-outer {
    width: 194px;
    height: 194px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    position: relative;
    /*animation-duration: 4s;*/
    /*animation-name: repeat;*/
}

/*@keyframes repeat {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    34%{*/
/*        opacity: 1;*/
/*    }*/
/*    68%{*/
/*        opacity: 0;*/
/*    }*/
/*    100%{*/
/*        opacity: 1;*/
/*    }*/
/*}*/


.box-cross::before {
    content: 'X';
    font-size: 140px;
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 78px);
    animation-duration: 1s;
    animation-name: ascent;
}

.box-null::before {
    content: 'O';
    font-size: 140px;
    position: relative;
    left: calc(50% - 50px);
    top: calc(50% - 78px);
    animation-duration: 1s;
    animation-name: ascent;
}

@keyframes ascent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.info-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 154px);
    border: 2px solid #a648ff;
    background-color: white;
    width: 260px;
    height: 140px;
    padding: 0 24px;
    text-align: center;
    font-size: 1.5em;
}

.player-choice, .repeat {
    padding: 7px 35px;
    font-family: serif;
    margin: 0 10px;
    background-color: #a648ff;
    border: 2px solid #a648ff;
    border-radius: 15px;
    color: #FFFFFF;
}

.player-choice:hover{
    transition: 1s;
    transform: rotate(180deg);
    background-color: #FFFFFF;
    cursor: pointer;
    color: #a648ff;
}

.repeat{
    display: none;
    padding: 7px 20px;
    position: relative;
}

.repeat:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    color: #a648ff;
    transition: all 1s;
}

/*.computer-step::after, .player-step::after{*/
/*    position: relative;*/
/*    top: 50px;*/
/*    !*animation-duration: 1000ms;*!*/
/*    !*animation-name: firstStep;*!*/
/*}*/

/*.player-step::after {*/
/*    content: 'Ваш ход!';*/
/*}*/

/*.computer-step::after {*/
/*    content: 'Ход компьютера!';*/
/*}*/

/*.info{*/
/*    padding: 50px 0;*/
/*}*/

/*.gameOver::after{*/
/*    position: relative;*/
/*    top: 24px;*/
/*    content: 'Конец игры!'*/
/*}*/

/*@keyframes firstStep {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.vertical-line::after{
    content: '';
    width: 4px;
    position: absolute;
    top: -20px;
    bottom: -16px;
    background-color: #a648ff;
    left: 50%;
}

.horizontal-line::after{
    content: '';
    height: 4px;
    position: absolute;
    left: -20px;
    right: -16px;
    background-color: #a648ff;
    top: 50%;
}

.tilt-up::after{
    content: '';
    width: 4px;
    position: absolute;
    top: -45px;
    bottom: -46px;
    left: 50%;
    background-color: #a648ff;
    transform: rotate(45.3deg);
}

.tilt-down::after{
    content: '';
    width: 4px;
    position: absolute;
    top: -45px;
    bottom: -46px;
    left: 50%;
    background-color: #a648ff;
    transform: rotate(-45.3deg);
}

.vertical-line::after, .horizontal-line::after, .tilt-up::after, .tilt-down::after{
    animation-duration: 1000ms;
    animation-name: line;
}

@keyframes line {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




